node_modules
# Keep environment variables out of version control
.env

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Playwright auth files
./src/playwright/tests/.auth/
./src/playwright/tests/.auth/*
./src/playwright/tests/.auth/user.json

  
